---
// Feature Cards grid Section
// ------------
// Description: A grid of cards with feature information in a 4 column layout.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Card from '../../ui/cards/FeatureCard.astro'

// Content
// - Cards
import feature01 from '../../../assets/cards/feature-01.svg'
import feature02 from '../../../assets/cards/feature-02.svg'
import feature03 from '../../../assets/cards/feature-03.svg'
import feature04 from '../../../assets/cards/feature-04.svg'
import feature05 from '../../../assets/cards/feature-05.svg'
---

<Section id="features">
	<Row>
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-pretty">Schedule highlights</h2>
			<!-- <p class="pb-0 text-lg">
				Don't you think?
			</p> -->
		</Col>
	</Row>
	<Row>
		<!-- <Col span="4"> -->
		<Col span="6" classes="flex flex-col gap-6">
			<Card
				title="Wednesday, May 28th"
				subtitles={["1-4pm ET/10am-1pm PT<br>Live from the last hours in the NASA GISS lab, featuring Kate Marvel","4-5pm ET/1-2pm PT<br>Panel discussion with terminated NOAA employees","5-5:45pm ET/2-2:45pm PT<br>Panel discussion with former directors of the National Weather Service, Joe Friday and Louis W. Uccellini","<i>Primetime talks featuring:</i> <ul><li class='pb-0 text-lg' style='color: white'>5:45pm ET/2:45pm PT: Paul Markowski</li> <li class='pb-0 text-lg' style='color: white'>6:30pm ET/3:30pm PT: Ben Santer</li> <li class='pb-0 text-lg' style='color: white'>7:15pm ET/4:15pm PT: Bernadette Woods Placky</li> <li class='pb-0 text-lg' style='color: white'>8:00pm ET/5:00pm PT: Kerry Emanuel</li> <li class='pb-0 text-lg' style='color: white'>8:45pm ET/5:45pm PT: Andy Dessler</li> <li class='pb-0 text-lg' style='color: white'>9:30pm ET/6:30pm PT: Ralph Keeling</li> <li class='pb-0 text-lg' style='color: white'>10:15pm ET/7:15pm PT: Sarah Purkey</li></ul>"]}
			/>
		</Col>
		<Col span="6" classes="flex flex-col gap-6">
		<Card
			title="Thursday, May 29th"
			subtitles={["5:30-6:15pm ET/2:30-3:45pm PT<br>American Meteorological Society panel with David Stensrud (president, 2025) and Alan Sealls (president-elect, 2026)","<i>Primetime talks featuring:</i> <ul><li class='pb-0 text-lg' style='color: white'>6:15 ET/3:15pm PT: Karen McKinnon</li><li class='pb-0 text-lg' style='color: white'>7:00 ET/4:00pm PT: Maria Molina</li> <li class='pb-0 text-lg' style='color: white'>8:00 ET/5:00pm PT: Amy McGovern</li><li class='pb-0 text-lg' style='color: white'>8:45 ET/5:45pm PT: Adam Sobel</li> <li class='pb-0 text-lg' style='color: white'>9:30 ET/6:30pm PT: Anand Gnanadesikan</li><li class='pb-0 text-lg' style='color: white'>10:15 ET/7:15pm PT: Chris Vagasky</li></ul>"]}
		/>
		</Col>

	</Row>
	<br>
	<Row>
		<!-- <Col span="4"> -->
		<Col span="4" classes="flex flex-col gap-6">
			<Card
			title="Friday, May 30th"
			subtitle="<i>Primetime talks featuring:</i><ul><li class='pb-0 text-lg' style='color: white'>8:00 ET/5:00pm PT: Isaac Held</li> <li class='pb-0 text-lg' style='color: white'>8:45 ET/5:45pm PT: Jeff Masters</li> <li class='pb-0 text-lg' style='color: white'>9:30 ET/6:30pm PT: Suzana Camargo</li> <li class='pb-0 text-lg' style='color: white'>10:15 ET/7:15pm PT: Jen Kay</li></ul>"

			
		/>
	</Col>
		<Col span="4" classes="flex flex-col gap-6">
			<Card
				title="Saturday, May 31st"
			subtitles={["<i>Primetime talks featuring:</i><ul><li class='pb-0 text-lg' style='color: white'>6:30 ET/3:30pm PT: Kim Cobb</li><li class='pb-0 text-lg' style='color: white'>7:15 ET/4:15pm PT: Britney Schmidt</li><li class='pb-0 text-lg' style='color: white'>8:00 ET/5:00pm PT: John Morales</li> <li class='pb-0 text-lg' style='color: white'>8:45 ET/5:45pm PT: Kristina Dahl</li> <li class='pb-0 text-lg' style='color: white'>9:30 ET/6:30pm PT: AMA with Daniel Swain</li><li class='pb-0 text-lg' style='color: white'>10:15 ET/7:15pm PT: Zeke Hausfather</li></ul>"]}
			/>
		</Col>
		<Col span="4" classes="flex flex-col gap-6">
			<Card
			title="Sunday, June 1st"
			subtitle="<i>Closing talks featuring:</i><ul><li class='pb-0 text-lg' style='color: white'>3:15 ET/12:15pm PT: Marshall Shepherd</li><li class='pb-0 text-lg' style='color: white'>4:00 ET/4:45pm PT: Zack Labe</li></ul>"
		/>
		</Col>
		<!-- <Col span="4" classes="flex flex-col gap-6">
			<Card
			title="Friday, May 30th"
			subtitle="8-11pm ET/5-8pm PT: primetime talks featuring Isaac Held (in conversation with Nadir Jeevanjee), Jeff Masters, and Suzana Camargo"

			
		/> -->
			<!-- <Card
				title="Saturday, May 31st"
				subtitle="8-11pm ET/5-8pm PT: primetime talks featuring John Morales, Kristina Dahl, and Zeke Hausfather"
			/>
			<Card
				title="Sunday, June 1st"
				subtitle="8-11pm ET/5-8pm PT: primetime talks featuring Zack Labe"
			/> -->
			<!-- https://www.cbsnews.com/news/noaa-ending-billion-dollar-disasters-database/?ftag=CNM-00-10aab6a&linkId=814889045 -->
		</Col>
	</Row>
</Section>



