---
// Blog Index Page
// ------------
// Description: The blog index page.

// Components
// - Layout
import Layout from '../layouts/Layout.astro'
// - UI
import Hero from '../components/blocks/hero/PageHeader.astro'
import BlogPosts from '../components/blocks/blog/BlogPosts.astro'

import Section from '../components/ui/Section.astro'
import Row from '../components/ui/Row.astro'
import Col from '../components/ui/Col.astro'
import { Image } from 'astro:assets'

// Data
import { getCollection } from 'astro:content'

// Content
// - SEO
const SEO = {
	title: 'The Weather & Climate Livestream',
	description:
		"For 100 hours from May 28th to June 1st 2025, meteorologists and climate scientists from across the US shared their research and answered your questions, all with the goal of saving America's forecasts."
}
// - Page Header
const header = {
	title: 'The Weather & Climate Livestream',
	text: 'From May 28th to June 1st, 2025, ' //Stay informed, stay productive. All the latest from the world of Foxi.'
}

const allPosts = await getCollection('blog')
---

<Layout title={SEO.title} description={SEO.description}>
	<Section id="intro" padding="top" classes="bg-neutral-900 dark:bg-neutral-900">
	<Row>
		<Col span="2" />
		<Col span="8" align="center">
			<h3>Want to protect NCAR? Here's three great things you can do:</h3>
			<h4><a href="https://5calls.org/issue/ncar-national-center-for-atmospheric-research/">Call your representatives</a> and tell them to put protection for NCAR into law.</h4>
			<h4><a href="https://www.youtube.com/watch?v=pT8dCoZgH_M">Share our video</a> spreading the world about the benefits of NCAR and the threats it faces.</h4>
			<h4><a href="/ncar_letters">Read and share these amazing responses</a> to the NSF's <a href="https://www.nsf.gov/funding/information/dcl-nsf-intent-restructure-critical-weather-infrastructure">Dear Colleagues letter</a>.</h4>
			<p>&nbsp;</p>
		</Col>
		<Col span="2" />
	</Row>
	</Section>
</Layout>
