---
// Blog Index Page
// ------------
// Description: The blog index page.

// Components
// - Layout
import Layout from '../layouts/Layout.astro'
// - UI
import Hero from '../components/blocks/hero/PageHeader.astro'
import BlogPosts from '../components/blocks/blog/BlogPosts.astro'

import Section from '../components/ui/Section.astro'
import Row from '../components/ui/Row.astro'
import Col from '../components/ui/Col.astro'
import { Image } from 'astro:assets'

// Data
import { getCollection } from 'astro:content'

// Content
// - SEO
const SEO = {
	title: 'The Weather & Climate Livestream',
	description:
		"For 100 hours from May 28th to June 1st 2025, meteorologists and climate scientists from across the US shared their research and answered your questions, all with the goal of saving America's forecasts."
}
// - Page Header
const header = {
	title: 'The Weather & Climate Livestream',
	text: 'From May 28th to June 1st, 2025, ' //Stay informed, stay productive. All the latest from the world of Foxi.'
}

const allPosts = await getCollection('blog')
---

<Layout title={SEO.title} description={SEO.description}>
	<!-- <Section id="intro" padding="top" classes="bg-neutral-900 dark:bg-neutral-900">
	<Row>
		<Col span="2" />
		<Col span="8" align="center">
			<h2><a href="/act">Click here to learn how you can help save the National Center for Atmospheric Research (NCAR)!!!</a></h2>
			<h2><a href="/ncar_letters">Click here to read a selection of the hundreds of letters written in defense of NCAR</a></h2>
		</Col>
		<Col span="2" />
	</Row>
	</Section> -->
	<Section id="intro" padding="top" classes="bg-neutral-900 dark:bg-neutral-900">
	<Row>
		<Col span="2" />
		<Col span="8" align="center">
			<!-- <h2>🌡️ SAVE AMERICA'S <strong> FORECASTS 📈</strong></h2> -->
			<!--  <p class="pb-0 text-lg" style="color: white;">Wed. May 28th 1pm ET/10am PT to Sun. June 1st 5:30pm ET/2:30pm PT on <a href="https://www.youtube.com/@wclivestream">YouTube:</a></p> -->
			<h1>SAVE AMERICA'S FORECASTS</h1>
			<p class="pb-0 text-lg" style="color: white;">Whether it's tomorrow's temperatures or the sea level in fifty years, Americans need to plan for our futures. For generations, the US government has invested in <a href="/learn">the science that helps us do so</a>, building one of the greatest meteorology and climate science communities in the world. </p>
			<p class="pb-0 text-lg" style="color: white;">But over the last few years, this community have been thwarted in our mission. <a href="https://www.nbcnews.com/weather/tornadoes/tornadoes-kansas-concerns-changes-national-weather-service-rcna331826">Missing observations</a> and <a href="https://www.scientificamerican.com/article/nasas-goddard-institute-for-space-studies-faces-eviction-under-trump-plan/">shuttered labs</a> are making life more <a href="https://www.zmescience.com/ecology/5-ways-your-life-could-become-more-dangerous-if-the-government-proceeds-with-dismantling-ncar/">dangerous</a> for Americans. Last year, meteorologists and climate scientists from across America spoke for 100 hours. This year, we're back, streaming from June 1st to June 3rd, 2026. To volunteer as a speaker or host for the livestream please visit our <a href="https://wclivestream.com/volunteer/">volunteer form</a>.</p>
			<p class="pb-0 text-lg" style="color: white;">In the meantime, please enjoy some of the wonderful talks from the 2025 Livestream below. Thank you, and see you in June!</p>
			<p>&nbsp;</p>
			<!-- <Button size="lg" link="/">Get started for free</Button> -->
		</Col>
		<Col span="2" />
	</Row>
</Section>
	<BlogPosts data={allPosts} />
</Layout>
