---
// Components
// - Layout
import Layout from '../layouts/Layout.astro'
// - UI
import Hero from '../components/blocks/hero/HomeCTA.astro'
import LearnFeatures from '../components/blocks/features/LearnFeatureCards.astro'
import ScheduleFeatures from '../components/blocks/features/ScheduleCards.astro'
import Features from '../components/blocks/features/FeatureCards.astro'
import Testimonial from '../components/blocks/testimonials/BasicDark.astro'
import HighlightBlocks from '../components/blocks/highlights/HightlightRows.astro'
import CTA from '../components/blocks/CTA/BasicDark.astro'
import Row from '../components/ui/Row.astro'
import Col from '../components/ui/Col.astro'
// - Footer
import Footer from '../components/Footer.astro';

// Content
// - Testimonial background
import testimonialBackground from '../assets/testimonial-bg-01.webp'
// - SEO
const SEO = {
	title: 'The Weather & Climate Livestream',
	description:
		"Join us starting May 28th, as meteorologists and climate scientists from across the US share their research and answer your questions."
}
---

<Layout title={SEO.title} description={SEO.description}>
	
	<Row>		<Col span="2" />
				<Col span="8" align="center">
	<h1>Check back here for the location for the gathering and interviews for NCAR at AGU!</h1>
				</Col>
		<Col span="2" />


</Row>
</Layout>
