---
// Blog Index Page
// ------------
// Description: The blog index page.

// Components
// - Layout
import Layout from '../layouts/Layout.astro'
// - UI
import Hero from '../components/blocks/hero/PageHeader.astro'
import LetterPosts from '../components/blocks/letter/LetterPosts.astro'

import Section from '../components/ui/Section.astro'
import Row from '../components/ui/Row.astro'
import Col from '../components/ui/Col.astro'
import { Image } from 'astro:assets'

// Data
import { getCollection } from 'astro:content'

// Content
// - SEO
const SEO = {
	title: 'The Weather & Climate Livestream - NCAR Letters',
	description:
		"Read these letters in support of NCAR, written in response to the NSF's Dear Colleague Letter."
}
// - Page Header
const header = {
	title: 'The Weather & Climate Livestream',
	text: 'From May 28th to June 1st, 2025, ' //Stay informed, stay productive. All the latest from the world of Foxi.'
}


const allPosts = (await getCollection('letter')).sort(
  (a, b) => a.data.author.localeCompare(b.data.author)
);
---

<Layout title={SEO.title} description={SEO.description}>
<!--	<Section id="intro" padding="top" classes="bg-neutral-900 dark:bg-neutral-900">
	<Row>
		<Col span="2" />
		<Col span="8" align="center">
			<h1><a href="/act">#SaveNCAR!!!</a></h1>
			<h1><a href="/act">(click for more info)</a></h1>
		</Col>
		<Col span="2" />
	</Row>
	</Section>
-->
	<Section id="intro" padding="top" classes="bg-neutral-900 dark:bg-neutral-900">
	<Row>
		<Col span="2" />
		<Col span="8" align="center">
			<!-- <h2>🌡️ SAVE AMERICA'S <strong> FORECASTS 📈</strong></h2> -->
			<!--  <p class="pb-0 text-lg" style="color: white;">Wed. May 28th 1pm ET/10am PT to Sun. June 1st 5:30pm ET/2:30pm PT on <a href="https://www.youtube.com/@wclivestream">YouTube:</a></p> -->
			<h1>Letters in response to NSF DCL</h1>
			<p class="pb-0 text-lg" style="color: white;">The Earth science community in the US and beyond have submitted hundreds of responses to the <a href="https://www.nsf.gov/funding/information/dcl-nsf-intent-restructure-critical-weather-infrastructure">NSF's Dear Colleague Letter</a> urging the NSF to protect the National Center for Atmospheric Research (NCAR). The NSF has <a href="https://www.nytimes.com/2026/03/13/climate/ncar-breakup-plan-nasa-noaa.html">said that these letters will not be made public</a>. This page aims to publish as many as we can.</p><p class="pb-0 text-lg" style="color: white;">We currently have {allPosts.length} letters. If you would like to share yours, please email <a href="mailto:organizers@wclivestream.com">organizers@wclivestream.com</a>. Also, see <a href="https://royalsociety.org/news/2026/02/statement-on-us-administrations-repeal-of-endangerment-finding/">the statement from the UK's Royal Society</a>, which calls on the US government to protect NCAR.</p><p class="pb-0 text-lg" style="color: white;">If you're inspired by these letters, please <a href="https://5calls.org/issue/ncar-national-center-for-atmospheric-research/">call your representatives</a> and tell them to #SaveNCAR!</p>
			<p>&nbsp;</p>
			<!-- <Button size="lg" link="/">Get started for free</Button> -->
		</Col>
		<Col span="2" />
	</Row>
</Section>
	<LetterPosts data={allPosts} />
</Layout>
