---
// Components
// - Layout
import Layout from '../layouts/Layout.astro'
// - UI
import Feature from '../components/blocks/features/FeatureSticky.astro'
import Hero from '../components/blocks/hero/PageHeader.astro'
import CTA from '../components/blocks/CTA/BasicDark.astro'
// Components
// - Layout
import Section from '../components/ui/Section.astro'
import Row from '../components/ui/Row.astro'
import Col from '../components/ui/Col.astro'
import Button from '../components/ui/Button.astro'

// Data
import featuresData from '../data/json-files/featuresData.json'
// - Feature Categories
const featuresAnalytics = featuresData.filter((feature) => feature.category === 'Analytics')
const featuresProductivity = featuresData.filter((feature) => feature.category === 'Productivity')
const featuresSecurity = featuresData.filter((feature) => feature.category === 'Security')
const featuresIntegrations = featuresData.filter((feature) => feature.category === 'Integrations')
const featuresSupport = featuresData.filter((feature) => feature.category === 'Support')

// Content
// - SEO
const SEO = {
	title: 'The Weather & Climate Livestream | Speakers',
	description:
		"Information for potential speakers at the Weather & Climate Livestream"
}
// - Page Header
const header = {
	title: "Want to speak?", // <strong>speak</strong>?",
	text: "<p>We're asking for volunteer speakers from throughout the US meteorology and climate science communities. If your work has been funded by the US federal government, and you have been affected or may be affected by past or proposed cuts, we want to give you the chance to make your voice heard. We are hoping to fill five solid days of speaking slots, starting on Wed May 28th at noon EST. We would especially appreciate volunteers willing to speak during the continental US's early hours.</p><p>Each speaking slot is for 20 minutes. We encourage participants to follow the following structure:<ul><li><em>elevator pitch</em> - in a minute, who are you, what do you do, how does it help the public, and how is it threatened by the recent and proposed cuts?</li><li><em>introduce yourself</em> - who are you? If you want, talk about what brought you to meteorology and/or climate science.</li><li><em>background for your area</em> - in terms that everyday people can understand, explain your area of work and how it's important to their lives. Use visuals, rather than formulas</li><li><em>one insight</em> - share with us one digestible insight from your work. What is something you found that you think is important, or that you find exciting?</li><li><em>the cuts</em> - how is your work affected by the past or proposed cuts?</li><li><em>hope</em> - if the funding is maintained or restored, what would you be able to do?</li></ul></p><p>If you are interested in volunteering, please fill out this <a href='https://docs.google.com/forms/d/e/1FAIpQLScUCVgVH85l3Hjvr4ognyVQQYibTTEaWal-GW2UiyBiqyJwsQ/viewform?usp=dialog'>Google Form</a>. There are options to request to speak together with a friend or colleague, or to have your talk presented anonymously.</p>"
}
---

<Layout title={SEO.title} description={SEO.description}>
	<CTA />
	<Section id="intro" padding="top" classes="bg-neutral-900 dark:bg-neutral-900">
		<Row>
			<Col span="2" />
			<Col span="8" align="center">
				<h3>Information for speakers</h3>
				<p class="pb-0 text-lg" style="color: white">If you're a meteorologist or climate scientist whose work has been funded in part by the US federal government, and you're available between May 28th and June 2nd, we want you to speak!
				<p class="pb-0 text-lg" style="color: white"><b>Each speaker slot is 25 minutes long</b>, with a 15-20 minute-long talk and 5-10 minutes of Q&A with audience questions read by a moderator. If you are looking for a talk format, we suggest the following:</p>
				<p class="pb-0 text-lg" style="color: white">
					<ul style="text-align: left;" style="color: white">
						<li style="color: white"><b>Elevator pitch</b>: In a minute, who are you, what do you do, how does it help the public, and how is it threatened by the recent and proposed cuts?</li>
						<li style="color: white"><b>Introduce yourself</b>: Who are you? Optionally, what brought you to meteorology and/or climate science?</li>
						<li style="color: white"><b>Background for your area</b>: In terms that everyday people can understand, what is your area of work, and how does it benefit the public? We suggest using visuals, rather than formulas.</li>
						<li style="color: white"><b>A key insight</b>: What is one digestible insight from your work? What is something you found that you think is important, or that you find exciting?</li>
						<li style="color: white"><b>Briefly, the cuts</b>: How is your work affected by the past or proposed cuts? We suggest keeping this brief, as the hosts will taking on more of the role of explaing the impact of the cuts, while you will be providing the science.</li>
						<li style="color: white"><b>Hope</b>: Close on a positive note. If funding is maintained or restored, what would you be able to do?</li>
					</ul>
				</p>
				<br />
				<p class="pb-0 text-lg" style="color: white">
					This is just a suggestion, and if you have an idea for your own format, follow your inspiration.</p>
				<p class="pb-0 text-lg" style="color: white">
					Note that because we will have hosts regularly reminding viewers of the event's message, we ask that speakers focus on bringing their science and its societal value to a lay audience. Brief statements making clear the impact the cuts would have on your work are also important, but we discourage more extended political or partisan statements. We think that the act of sharing your contributions will help drive home our message most clearly.</p>
	
				<!-- <ChipNotification radius="rounded-full" classes="mb-6">
					<strong>30K+</strong> satisfied customers
					<AvatarGroup avatars={avatars} radius="rounded-full" slot="button" />
				</ChipNotification> -->
	
				<p class="pb-0 text-lg" style="color: white">We are particularly interested in speakers who can help us keep the live-stream going by being able to speak during the middle of the night over the continental US. We also could really use volunteers to <b>host</b> or <b>help organize</b>:</p>
				<p class="pb-0 text-lg" style="color: white"><b>Hosts</b> would be online for a stretch of a few hours. Hosting duties include reading a message statement of some sort about the cuts between talks, introducing speakers, reading questions from the Slido for the speakers, and helping speakers if they are having trouble logging on. We will provide video training for all hosts, and aim to have multiple hosts at any given time.</p>
					
				<p class="pb-0 text-lg" style="color: white">
					We need volunteers to help <b>organize</b> on a number of fronts - to help us with our messaging, scheduling, publicity, infrastructure, audience responsiveness, and speaker support.</p>
				<p class="pb-0 text-lg" style="color: white">Once more, you can volunteer by clicking this button:</p>
				<Button size="lg" style="primary" type="link" link="https://docs.google.com/forms/d/e/1FAIpQLScUCVgVH85l3Hjvr4ognyVQQYibTTEaWal-GW2UiyBiqyJwsQ/viewform?usp=dialog">Link to the speaker Google Form</Button>
					<br />
					<br />
				<!-- <Button size="lg" link="/">Get started for free</Button> -->
			</Col>
			<Col span="2" />
		</Row>
	</Section>
</Layout>
